@page
@model Server.Pages.Admin.CultureManagement.IndexModel
@inject Infrastructure.Settings.ApplicationSettings applicationSettings

@{
    var pageTitle =
        $" {Resources.ButtonCaptions.ListOf} {Resources.DataDictionary.Cultures} ";

    ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<section-page-header>
    @(pageTitle)
</section-page-header>

<section-table>
    <table>
        <caption>
            @(pageTitle)
        </caption>

        <thead>
            <tr>
                <th>
                    @(Resources.DataDictionary.RowNumber)
                </th>
                <th>
                </th>
                <th>
                    @(Resources.DataDictionary.Name)
                </th>
                <th>
                    @(Resources.DataDictionary.Flag)
                </th>
                <th>
                    @(Resources.DataDictionary.IsActive)
                </th>
                <th>
                    @(Resources.DataDictionary.IsDefault)
                </th>
                <th>
                    @(Resources.DataDictionary.IsSystemic)
                </th>
                <th>
                    @(Resources.DataDictionary.InsertDateTime)
                </th>
                <th>
                    @(Resources.DataDictionary.UpdateDateTime)
                </th>
            </tr>
        </thead>
        
        <tbody>
            @for (var index = 0; index <= Model.ViewModel.Count - 1; index++)
            {
                var item = Model.ViewModel[index];

                <tr>
                    @(Html.DtatDisplayRowNumberWithTd(value: index + 1))

                    <table-actions>
                        <a asp-page="Details" asp-route-id="@(item.Id)">
                            @(Html.DtatGetIconDetails())
                        </a>
                        <a asp-page="Update" asp-route-id="@(item.Id)">
                            @(Html.DtatGetIconUpdate())
                        </a>
                    </table-actions>

                    @*<td>
                        
                    </td>
*@
                    <td>
                        <span class="fi fi-@(item.Flag)"></span>
                    </td>

                    @(Html.DtatDisplayBooleanWithTd(value: item.IsActive))

                    @(Html.DtatDisplayBooleanWithTd(value: item.IsDefault))

                    @(Html.DtatDisplayBooleanWithTd(value: item.IsSystemic))

                    @(Html.DtatDisplayDateTimeWithTd(value: item.InsertDateTime))

                    @(Html.DtatDisplayDateTimeWithTd(value: item.UpdateDateTime))
                </tr>
            }
        </tbody>
    </table>
</section-table>

@*@{
    var pageTitle =
        $" {Resources.ButtonCaptions.ListOf} {Resources.DataDictionary.Cultures} ";

    ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;

    List<string> activatedCulture =
    applicationSettings.CultureSettings
    .SupportedCultureNames.ToList<string>();

    string activtedCultureFinalized = string.Join(",", activatedCulture.ToArray()[..2]).ToUpper();

    string defaultCulture =
    applicationSettings.CultureSettings
    .DefaultCultureName![..2]
    .ToUpper();
}*@

@*<section-page-header>
    @(pageTitle)
</section-page-header>

<section-table>
    <table>
        <caption>
            @pageTitle
        </caption>

        <thead>
            <tr>
                <th>
                    @(Resources.DataDictionary.Flag)
                </th>
                <th>
                    @(Resources.DataDictionary.Name)
                </th>
                <th>
                    @(Resources.DataDictionary.IsDefault)
                </th>
                <th>
                    @(Resources.DataDictionary.IsActive)
                </th>
                <th>
                    @(Resources.DataDictionary.Update) / @(Resources.DataDictionary.Details)
                </th>
            </tr>
        </thead>

       <tbody>

            @foreach (var param in applicationSettings.CultureSettings.SupportedCultureNames!)
            {
                

                var countryName =
                     param[..2].ToUpper();

                var countryFlag =
                param[3..].ToLower();

                <tr>
                    <td>
                        <span class="fi fi-@(countryFlag)"></span>
                    </td>

                    <td>
                        @(countryName)
                    </td>

                    <td>
                        @if (activtedCultureFinalized.Contains(countryName))
                        {
                          <input type="checkbox" class="form-check-input" value="@(countryName)" id="" checked disabled />
                        }
                        else
                        {
                                  <input type="checkbox" class="form-check-input" value="@(countryName)" id="" disabled />
                        }
                    </td>
                    <td>
                        @if (defaultCulture == countryName)
                        {
                                  <input type="checkbox" class="form-check-input" value="@(countryName)" id="" checked disabled />
                        }
                        else
                        {
                                  <input type="checkbox" class="form-check-input" value="@(countryName)" id="" disabled />
                        }
                    </td>
                    <td>
                         <a asp-page="./Update" asp-route-id="" class="mx-1 text-info text-decoration-none">
                           <i class="bi bi-pencil-fill"></i>
                         </a>
                         |
                         <a asp-page="./Details" asp-route-id="" class="mx-1 text-info text-decoration-none">
                           <i class="bi bi-zoom-in"></i>
                         </a>
                    </td>
                </tr>
            }
       </tbody>
    </table>
</section-table>*@


